@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* Element level style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Main container style */
.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

/* Header component style */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Task component style */
.task {
  background: #f4f4f4;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid rgb(216, 224, 231);
  margin-top: 1px;
}

.task.done {
  border-left: 5px solid green;
  color: rgb(194, 191, 191) !important;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-contents {
  max-width: 77%;
}

.task-icons {
  min-width: 23%;
}

.i-complete {
  color: rgb(38, 151, 38) !important;
  margin-left: 20px;
  margin-right: 2px;
}

.i-edit {
  color: rgb(73, 73, 182);
  margin-left: 6px;
  margin-right: 3px;
}

.i-delete {
  color: rgb(243, 65, 65);
  margin-left: 5px;

}

/* Add Task component style */
.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.btn {
  display: inline-block;
  background: steelblue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}